.column1 {
  width: 400px;
  float: left;
  background-color: #FAEBD7;
}

.column2 {
  width: 400px;
  float: left;
  background-color: #FFB6C1;
}

.column3 {
  width: 400px;
  float: left;
  background-color: #B0C4DE;
}

img {
  padding: 1px;
  width: 400px;
}
